@import '../../../pages/global.scss';

.footer_menu-navegation {
    font-size: 1.8em;
    grid-area: menu;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $large) {
        justify-self: center;
    }
}

.menu-navegation_title {
    font-weight: bold;
    margin: 0 0 .7em 0;

    @media screen and (max-width: $large) {
        text-align: center;
    }
}


.menu-navegation_item {
    margin: 0 0 .7em 0;

    @media screen and (max-width: $large) {
        text-align: center;
    }
}

.menu-navegation_link {
    color: inherit;
    text-decoration: none;

    &:hover {
        font-weight: bolder;
    }
}
