@import 'styles/global.scss';


.search_button {
    background: $primary-color center no-repeat url(../../../../public/icons/logo-search.svg);
    border: none;
    margin-left: .5%;
    width: 10%;
  
    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
  
    @media screen and (max-width: $small) {
      display: none;
    }
  }
