@import '../../styles/global.scss';

.content {
    box-sizing: border-box;
    margin: auto;
    max-width: $extra-extra-large;
    padding: 0 4.2em;

    @media screen and (max-width: $medium) {
        padding: 2em;
    }
}