@import 'styles/global.scss';

$font-size-cart: 1.2em;

.content {
  position: relative;
}

.size-label-bag {
  background-color: #ffffffad;
  border-radius: .3em;
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: $font-size-cart;
  height: 1.5em;
  margin: .2em;
  padding-top: .1em;
  text-align: center;
  width: 1.5em;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 1px 1px 2px 1px #00000044;
    cursor: pointer;
  }
}

.total {
  text-align: center;
  text-align: justify;
  width: 100%;
}

.news-blog_image-2 {
  grid-area: banner-2;
  width: 100%;
}

.content_details {
  display: grid;
  gap: 0 2em;
  grid-template-areas:
    "image-main title"
    "image-main description"
    "image-main products"
    "image-main size"
    "image-main button";
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 28% 42% 10% 10%;
  margin: 7.2em 0;
  width: calc(100% - 2em);

  @media screen and(max-width: $extra-large) {
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 35% 13% 10%;
  }

  @media screen and(max-width: $large) {
    grid-template-areas:
      "image-main title"
      "image-main description"
      "products products"
      "size size"
      "button button";
    grid-template-columns: 40% 60%;
    grid-template-rows: 6em auto 30% 5% 10%;
    row-gap: 1em;
  }

  @media screen and(max-width: $medium) {
    grid-template-areas:
      "image-main"
      "title"
      "description"
      "products "
      "size"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin: 0;
    row-gap: 1em;
    width: 100%;
  }
}

.details_title {
  font-size: 2.4em;
  grid-area: title;
  margin: 0;
  width: calc(100% - 1em);

  @media screen and(min-width: 0) {
    font-size: 2em;
  }
}

.details_description {
  font-size: 2em;
  grid-area: description;
  margin: .5em 0;
  width: calc(100% - 1em);

  @media screen and(max-width: $extra-large) {
    font-size: 1.7em;
    margin: 1em 0;
  }
}

.details_images {
  align-items: center;
  display: flex;
  grid-area: products;
  height: auto;
  justify-content: space-between;
  width: 100%;
  @include border-images;
}

.image_secundary {
  width: 20%;
}

.image_link {
  max-width: 15em;
  margin: .5em;
}

.details_image-main {
  grid-area: image-main;
  @include border-images;
}

.image-main_main {
  width: 100%;
}

.details_size {
  align-self: flex-end;
  grid-area: size;
  margin: auto 0;
}

.size_label-bag {
  background-color: #ffffffad;
  border-radius: .3em;
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 2em;
  height: 1.5em;
  margin: .2em;
  padding-top: .1em;
  text-align: center;
  width: 1.5em;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 1px 1px 2px 1px #00000044;
    cursor: pointer;
  }
}


.product_button-bag-details {

  align-self: flex-end;
  grid-area: button;
  height: 4.5em;
  perspective: 500px;
  width: 25em;

  &:hover .button-bag_content {
    transform: rotateY(180deg);
    transition: transform 0.5s .5s;
  }

  &:active {
    transform: scale(1.05);
  }

  @media screen and(max-width: $medium) {
    width: 100%;
  }
}

.button-bag-details {
  background: none;
  border: none;
  color: $primary-color-negative;
  font-size: 1.4em;
}

.menu-navegation_button:hover {
  @media screen and (max-width: $medium) {
    cursor: pointer;
  }
}

.products_title {
  @media screen and (max-width: $medium) {
    font-size: 1.2em;
    width: 90%;
  }
}

.contact_icon-whatsapp {
  height: 1em;
  margin-left: .3em;
}


.contact_icon-telephone {
  height: 1em;
  margin-left: .3em;
}