$primary-color: #2b6099;
$primary-color-negative: #ffffff;
$secondary-color: #134376;
$tertiary-color: #0d335b;
$color-details: #c4c4c4;
$font-color: #000000;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;


@mixin border-images {
  img {
    border: solid 1px $color-details;
    box-sizing: border-box;
    padding: .2em;
  }
}

body {
  color: $font-color;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  margin: 0;
}

.content {
  box-sizing: border-box;
  margin: auto;
  max-width: $extra-extra-large;
  padding: 0 4.2em;

  @media screen and (max-width: $medium) {
    padding: 2em;
  }
}

.product_button-bag {
  grid-area: button;
  perspective: 500px;

  &:hover .button-bag_content {
    transform: rotateY(180deg);
    transition: transform 0.5s .5s;
  }

  &:active {
    transform: scale(1.05);
  }
}

.button-bag_content {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .5s 1s;
}

.content_front-button {
  align-items: center;
  backface-visibility: hidden;
  background: url(../../../public/icons/logo-bag-white.svg) $primary-color right no-repeat;
  border: .5em solid transparent;
  box-shadow: 0 0 15px #0000000a;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.content_back-button {
  background: no-repeat center $color-details url(../../../public/icons/check-solid.svg);
  color: $primary-color-negative;
  transform: rotateY(180deg);

  @extend .content_front-button;

  &:focus {
    background: no-repeat center #008844 url(../../../public/icons/check-solid-white.svg);
  }
}

.button-bag {
  background: none;
  border: none;
  color: $primary-color-negative;
  font-size: 1.4em;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 18em;
  justify-content: space-between;
  margin: auto;
  max-width: $extra-extra-large;
  padding: 0 6em;

  @media screen and (max-width: $large) {
    padding: 0 3em;
  }
}

.header_logo {
  color: inherit;
  text-align: end;
  text-decoration: none;

  @media screen and (max-width: $small) {
    font-size: .8em;
  }
}

.header_cart {
  background: center no-repeat url(../../../public/icons/logo-cart-shopping.svg);
  transition: .4s all;
  height: 5em;
  width: 5em;

  &:hover {
    transform: scale(1.1);
  }
}

$font-size-cart: 1.2em;

.content {
  position: relative;
}

.content_cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;

  @media screen and(max-width: $large) {
    width: 100%;
  }

  @media screen and(max-width: $medium) {
    justify-content: flex-start;
  }
}

.cart_title {
  font-size: 2.5em;
  grid-area: title;
  margin: .5em 0;
}

.cart_product {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 15% 20% 20% 10% 15% 10%;
  grid-template-rows: auto 20em;
  height: 22em;
  @include border-images;
  grid-template-areas:
    "image description size value quantitytity subtotal";

  @media screen and(max-width: $medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "image description"
      "image size"
      "image value"
      "image quantitytity"
      "image subtotal";
    height: auto;
    margin: 1em 0;
  }

  @media screen and(max-width: $small) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "image "
      "description "
      "size "
      "value "
      "quantitytity"
      "subtotal";
    row-gap: 1em;
  }
}

.product_image {
  grid-area: image;
}

.product_description {
  font-size: $font-size-cart;
  grid-area: description;
}

.description_title {
  margin: 0;
}

.description {
  font-size: $font-size-cart;
  margin: .2em 0;
}

.product_size {
  font-size: $font-size-cart;
  grid-area: size;
}

.size_title {
  margin: 0;
}

.size-label-bag {
  font-size: $font-size-cart;
  @extend .size_label;
}

.product_value {
  font-size: $font-size-cart;
  grid-area: value;
}

.value_title {
  margin: 0;
}

.value {
  font-size: $font-size-cart;
  margin: .2em 0;
}

.product_quantity {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $font-size-cart;
  grid-area: quantity;

  @media screen and(max-width: $medium) {
    align-items: flex-start;
  }
}

.quantity_title {
  margin: 0;
}

.quantity {
  border-radius: .3em;
  border: 1px solid;
  margin: .2em 0;
  text-align: center;
  width: 3em;
}

.product_subtotal {
  font-size: $font-size-cart;
  grid-area: subtotal;
}

.subtotal_title {
  margin: 0;
}

.subtotal {
  font-size: $font-size-cart;
  margin: .2em 0;
}

.cart_checkout {
  background-color: $primary-color;
  box-sizing: border-box;
  color: $primary-color-negative;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: bold;
  grid-area: checkout;
  line-height: 1em;
  margin: 2em;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 20%;

  @media screen and(max-width: $large) {
    margin: 0;
    position: relative;
    width: 100%;
  }
}

.checkout_total {
  margin-top: 0;
  word-spacing: 20;

  @media screen and(max-width: $large) {
    font-size: $font-size-cart;
  }
}

.total {
  text-align: center;
  text-align: justify;
  width: 100%;
}

.checkout_button {
  background-color: $secondary-color;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-size: 1em;
  font-weight: bold;
  height: auto;
  margin: auto 0 0 0;
  padding: .5em;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $tertiary-color;
    cursor: pointer;
  }
}

.content_banner {
  align-items: center;
  background: left/cover url(../../../public/images/banners/banner.jpg);
  color: inherit;
  display: flex;
  font-weight: bold;
  height: 20em;
  justify-content: center;
  margin: 2em 0;
  position: relative;
  text-decoration: none;

  @media screen and (max-width: $extra-large) {
    height: 15em;
  }

  @media screen and (max-width: $large) {
    height: 12em;
  }

  @media screen and (max-width: $medium) {
    background: left/100% no-repeat url(../../../public/images/banners/banner-small.jpg);
    height: 18em;
    justify-content: flex-end;
  }

  @media screen and (max-width: $small) {
    height: 12em;
  }
}

.banner_text {
  font-size: 2.0em;
  letter-spacing: .5em;
  text-align: center;

  &::first-line {
    letter-spacing: 0;
  }

  @media screen and (max-width: $extra-large) {
    font-size: 1.6em;
  }

  @media screen and (max-width: $large) {
    font-size: 1.2em;
  }

  @media screen and (max-width: $medium) {
    display: none;
    font-size: 1.6em;
    letter-spacing: normal;
    margin: 0 1em 3em 0;
    width: 50%;
  }

  @media screen and (max-width: $small) {
    display: none;
  }
}

.banner_logo {
  bottom: 0;
  font-size: .9em;
  margin: 1em;
  position: absolute;
  right: 0;
  text-align: end;

  @media screen and (max-width: $extra-large) {
    font-size: .7em;
  }

  @media screen and (max-width: $large) {
    font-size: .5em;
  }

  @media screen and (max-width: $small) {
    display: none;
  }
}

.content_news-blog {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "title title title title"
    "banner-1 banner-1 banner-2 text-2"
    "banner-1 banner-1 banner-2 text-2"
    "banner-1 banner-1 banner-3 text-3"
    "text-1 text-1 banner-3 text-3";

  @media screen and (max-width: $medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "title"
      "banner-1"
      "text-1"
      "banner-2"
      "text-2"
      "banner-3"
      "text-3";
  }
}

.news-blog_title {
  font-size: 2.2em;
  grid-area: title;
  margin: 2em 0 0 0;

  @media screen and (max-width: $medium) {
    font-size: 1.8em;
  }
}

.news-blog_image-1 {
  grid-area: banner-1;
  height: 100%;
  width: 100%;
}

.news-blog_text-1 {
  color: inherit;
  font-size: 2.2em;
  grid-area: text-1;
  text-decoration: none;
  width: 90%;

  @media screen and (max-width: $large) {
    font-size: 1.6em;
  }

  @media screen and (max-width: $medium) {
    font-size: 2em;
  }
}

.news-blog_image-2 {
  grid-area: banner-2;
  width: 100%;
}

.news-blog_text-2 {
  color: inherit;
  font-size: 2em;
  grid-area: text-2;
  text-decoration: none;

  @media screen and (max-width: $large) {
    font-size: 1.6em;
  }

  @media screen and (max-width: $medium) {
    font-size: 2em;
  }
}

.news-blog_image-3 {
  grid-area: banner-3;
  width: 100%;
}

.news-blog_text-3 {
  color: inherit;
  font-size: 2em;
  grid-area: text-3;
  text-decoration: none;

  @media screen and (max-width: $large) {
    font-size: 1.6em;
  }

  @media screen and (max-width: $medium) {
    font-size: 2em;
  }
}

.content_search {
  display: flex;
  height: 5em;
  margin: 1.2em 0;
}

.search_field {
  border: solid 1px $color-details;
  box-sizing: border-box;
  font-size: 1.8em;
  padding: 0 1.2em;
  width: 90%;

  &::placeholder {
    @media screen and (max-width: $small) {
      font-size: .8em;
    }
  }

  @media screen and (max-width: $medium) {
    font-size: 1.5em;
  }

  @media screen and (max-width: $small) {
    padding: .2em;
    width: 100%;
  }
}

.search_button {
  background: $primary-color center no-repeat url(../../../public/icons/logo-search.svg);
  border: none;
  margin-left: .5%;
  width: 10%;

  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }

  @media screen and (max-width: $small) {
    display: none;
  }
}

.content_products {
  display: flex;

  @media screen and (max-width: $medium) {
    flex-wrap: wrap;
  }
}

.products_title {
  position: absolute;
}

.products_link {
  color: inherit;
  font-size: 1.3em;
  text-decoration: none;
}

.content_details {
  display: grid;
  gap: 0 2em;
  grid-template-areas:
    "image-main title"
    "image-main description"
    "image-main products"
    "image-main size"
    "image-main button";
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 28% 42% 10% 10%;
  margin: 7.2em 0;
  width: calc(100% - 2em);

  @media screen and(max-width: $extra-large) {
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 35% 13% 10%;
  }

  @media screen and(max-width: $large) {
    grid-template-areas:
      "image-main title"
      "image-main description"
      "products products"
      "size size"
      "button button";
    grid-template-columns: 40% 60%;
    grid-template-rows: 6em auto 30% 5% 10%;
    row-gap: 1em;
  }

  @media screen and(max-width: $medium) {
    grid-template-areas:
      "image-main"
      "title"
      "description"
      "products "
      "size"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin: 0;
    row-gap: 1em;
    width: 100%;
  }
}

.details_title {
  font-size: 2.4em;
  grid-area: title;
  margin: 0;
  width: calc(100% - 1em);

  @media screen and(min-width: 0) {
    font-size: 2em;
  }
}

.details_description {
  font-size: 2em;
  grid-area: description;
  margin: .5em 0;
  width: calc(100% - 1em);

  @media screen and(max-width: $extra-large) {
    font-size: 1.7em;
    margin: 1em 0;
  }
}

.details_images {
  align-items: center;
  display: flex;
  grid-area: products;
  height: auto;
  justify-content: space-between;
  width: 100%;
  @include border-images;
}

.image_secundary {
  width: 20%;
}

.image_link {
  max-width: 15em;
  margin: .5em;
}

.details_image-main {
  grid-area: image-main;
  @include border-images;
}

.image-main_main {
  width: 100%;
}

.details_size {
  align-self: flex-end;
  grid-area: size;
  margin: auto 0;
}

.size_label-bag {
  font-size: 2em;
  @extend .size_label;
}

.product_button-bag-details {
  @extend .product_button-bag;
  align-self: flex-end;
  grid-area: button;
  height: 4.5em;
  width: 25em;

  @media screen and(max-width: $medium) {
    width: 100%;
  }
}

.button-bag-details {
  @extend .button-bag;
}

.logo_top {
  font-size: 3.6em;
  margin: .4em 0 0 0;
}

.logo_bottom {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.menu-navegation {
  background-color: $primary-color;
  color: $primary-color-negative;

  @media screen and (max-width: $medium) {
    display: flex;
    height: 6.2em;
  }
}

.menu-navegation_button {
  display: none;

  @media screen and (max-width: $medium) {
    background: no-repeat left url(../../../public/icons/logo-menu.svg);
    border: none;
    color: $primary-color-negative;
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 1em;
    text-align: end;
    width: 5em;
  }
}

.menu-navegation_items {
  align-items: center;
  display: flex;
  font-size: 1.8em;
  font-weight: 700;
  height: 3.5em;
  justify-content: space-around;
  list-style: none;
  margin: auto;
  max-width: $extra-extra-large;
  padding: 0;

  @media screen and (max-width: $medium) {
    background-color: $primary-color;
    border-radius: 0 0 30px;
    font-size: 1.6em;
    flex-direction: column;
    height: 50vh;
    left: -100vw;
    line-height: 1.5em;
    margin-top: 3.2em;
    padding: 0 2em;
    position: absolute;
    text-align: center;
    transition: .5s all;
    width: 40%;
    z-index: 999;
  }
}



.menu-navegation--active {
  @media screen and (max-width: $medium) {
    left: 0;
  }
}

.menu-navegation_button:hover {
  @media screen and (max-width: $medium) {
    cursor: pointer;
  }
}

.item_link {
  color: inherit;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    transition: .2s linear;
  }

  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.product {
  display: grid;
  grid-template: auto 4.0em auto 4.0em / 50% 50%;
  grid-template-areas:
    "image image"
    "image image"
    "details details"
    "button button";
  margin: 4.2em 2vw;
  width: 100%;

  &:nth-child(4) {
    @media screen and (max-width: $large) {
      display: none;
    }

    @media screen and (max-width: $medium) {
      display: grid;
    }
  }

  &:nth-child(5) {
    margin-right: 0;

    @media screen and (max-width: $medium) {
      margin-right: auto;
    }
  }

  &:nth-child(2) {
    margin-left: 0;

    @media screen and (max-width: $medium) {
      margin-left: auto;
    }
  }

  @media screen and (max-width: $large) {
    margin: 4.2em 2vw;
  }

  @media screen and (max-width: $medium) {
    margin: 5em auto 0 auto;
    width: 45%;
  }

  @media screen and (max-width: $large) {
    width: 100%;
  }
}

.products_title {
  @media screen and (max-width: $medium) {
    font-size: 1.2em;
    width: 90%;
  }
}

.product_link-image {
  display: flex;
  grid-area: image;
  height: 100%;
  overflow: hidden;
  width: 100%;
  @include border-images;

  &:hover .product_image {
    animation: identifier 9s .5s ease infinite;
  }

  @keyframes identifier {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(-200%);
    }

    75% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

.product_image {
  height: 100%;
  width: 100%;
}

.product_size {
  display: flex;
  font-size: 1.8em;
  font-weight: 800;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: space-around;
  justify-self: flex-end;
  margin: 0 .5em;
  padding: 0;
  text-align: center;
  z-index: 999;
}

.size_input {
  display: none;

  &:checked+.size_label {
    background-color: black;
    border: solid 1px $color-details;
    color: $primary-color-negative;
    font-weight: bold;
  }
}

.size_label {
  background-color: #ffffffad;
  border-radius: .3em;
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  margin: .2em;
  padding-top: .1em;
  text-align: center;
  width: 1.5em;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 1px 1px 2px 1px #00000044;
    cursor: pointer;
  }
}

.products_especification {
  color: inherit;
  font-size: 1.8em;
  grid-area: details;
  text-decoration: none;
}

.especification_name {
  font-weight: 400;
  height: 3.5em;
  margin: .3em 0;
  overflow: hidden;

  @media screen and (max-width: $extra-extra-large) {
    font-size: .9em;
  }

  @media screen and (max-width: $large) {
    font-size: .8em;
  }
}

.especification_value {
  font-family: 'Franklin Gothic Medium';
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

.base-footer {
  background-color: $primary-color;
}

.footer {
  background-color: $primary-color;
  box-sizing: border-box;
  color: $primary-color-negative;
  display: grid;
  grid-template-areas:
    "logo logo logo logo"
    "menu social contact newsletter";
  grid-template-columns: 21% 21% 21% 37%;
  grid-template-rows: 30% 70%;
  margin: 7.2em auto auto auto;
  max-width: $extra-extra-large;
  padding: 4.2em 4.2em;

  @media screen and (max-width: $large) {
    gap: 2em;
    grid-template-areas:
      "logo logo"
      "menu social"
      "contact newsletter";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 1fr 1fr;
    padding: 1em;
  }

  @media screen and (max-width: $medium) {
    grid-template-areas:
      "logo"
      "menu"
      "contact"
      "newsletter"
      "social";
    grid-template-columns: 1fr;
    grid-template-rows: 8em;
  }
}

.footer_logo {
  color: inherit;
  grid-area: logo;
  text-align: end;
  text-decoration: none;
  width: 25.4em;

  @media screen and (max-width: $large) {
    margin: auto;
  }
}

.footer_menu-navegation {
  font-size: 1.8em;
  grid-area: menu;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $large) {
    justify-self: center;
  }
}

.menu-navegation_title {
  font-weight: bold;
  margin: 0 0 .7em 0;

  @media screen and (max-width: $large) {
    text-align: center;
  }
}

.menu-navegation_item {
  margin: 0 0 .7em 0;

  @media screen and (max-width: $large) {
    text-align: center;
  }
}

.menu-navegation_link {
  color: inherit;
  text-decoration: none;

  &:hover {
    font-weight: bolder;
  }
}

.footer_network-social {
  grid-area: social;
  justify-self: center;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $large) {
    justify-self: center;
  }
}

.network-social_title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

.network-social_list-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 80%;

  @media screen and (max-width: $extra-large) {
    width: 80%;
  }

  @media screen and (max-width: $large) {
    justify-content: space-around;
    width: 100%;
  }
}

.list-icons_icon {
  transition: .2s all ease-in-out;

  &:hover {
    margin: 0 1em;
    transform: scale(1.1);
  }
}

.footer_contacts {
  grid-area: contact;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  word-wrap: break-word;

  &::first-line {
    font-weight: bold;
  }

  @media screen and (max-width: $large) {
    text-align: center;
    width: 100%;
  }
}

.contacts_item {
  font-size: 1.8em;
  margin: 0 0 .7em 0;
}

.contacts_link {
  color: inherit;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}

.contact_icon-whatsapp {
  height: 1em;
  margin-left: .3em;
}

.contacts_link-whats::after {
  background: center/100% url(../../../public/icons/logo-whats.svg);
  content: "";
  display: inline-block;
  height: .8em;
  margin: 0 .2em;
  width: .8em;
}

.contact_icon-telephone {
  height: 1em;
  margin-left: .3em;
}

.contacts_link-tel::after {
  background: center/100% url(../../../public/icons/logo-tel.svg);
  content: "";
  display: inline-block;
  height: .8em;
  margin: 0 .2em;
  width: .8em;
}

.footer_newsletter {
  align-content: flex-start;
  border: none;
  display: flex;
  flex-wrap: wrap;
  grid-area: newsletter;
  justify-content: space-between;
  justify-self: end;
  list-style: none;
  padding: 0;
  width: 90%;

  @media screen and (max-width: $large) {
    justify-content: center;
    justify-self: center;
  }
}

.newsletter_label {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .5em;

  @media screen and (max-width: $large) {
    margin: 0;
  }
}

.newsletter_input {
  border: none;
  box-sizing: border-box;
  font-size: 1.7em;
  height: 2em;
  padding: 0 .5em;
  width: 65%;

  @media screen and (max-width: $large) {
    margin: 0;
    width: 20em;
  }

  @media screen and (max-width: $medium) {
    width: 85%;
  }
}

.newsletter_button {
  background-color: $tertiary-color;
  border: none;
  color: $primary-color-negative;
  font-size: 1.4em;
  margin-left: .2em;
  width: 33%;

  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }

  @media screen and (max-width: $large) {
    height: 2em;
    margin: .3em auto;
  }

  @media screen and (max-width: $medium) {
    height: max-content;
  }
}