@import 'styles/global.scss';

.container_logo {
    color: inherit;
    grid-area: logo;
    text-align: end;
    text-decoration: none;
    width: 25.4em;

    @media screen and (max-width: $large) {
        margin: auto;
    }
}

.logo_top {
    font-size: 3.6em;
    margin: .4em 0 0 0;
}

.logo_bottom {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}
