@import '../../styles/global.scss';

.header_logo {
    color: inherit;
    text-align: end;
    text-decoration: none;

    @media screen and (max-width: $small) {
        font-size: .8em;
    }
}

.logo_top {
    font-size: 3.6em;
    margin: .4em 0 0 0;
}

.logo_bottom {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}