@import '../../../styles/global.scss';

.footer_contacts {
    grid-area: contact;
    justify-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    word-wrap: break-word;

    &::first-line {
        font-weight: bold;
    }

    @media screen and (max-width: $large) {
        text-align: center;
        width: 100%;
    }
}

.contacts_item {
    font-size: 1.8em;
    margin: 0 0 .7em 0;
}

.contacts_link {
    color: inherit;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}

.contacts_link-whats::after {
    background: center/100% url(../../../../public/icons/logo-whats.svg);
    content: "";
    display: inline-block;
    height: .8em;
    margin: 0 .2em;
    width: .8em;
}

.contacts_link-tel::after {
    background: center/100% url(../../../../public/icons/logo-tel.svg);
    content: "";
    display: inline-block;
    height: .8em;
    margin: 0 .2em;
    width: .8em;
}