@import '../../../styles/global.scss';

.cart_checkout {
    background-color: $primary-color;
    box-sizing: border-box;
    color: $primary-color-negative;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    grid-area: checkout;
    line-height: 1em;
    margin: 2em;
    padding: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 20%;

    @media screen and(max-width: $large) {
        margin: 0;
        position: relative;
        width: 100%;
    }
}

.checkout_total {
    margin-top: 0;
    word-spacing: 20;

    @media screen and(max-width: $large) {
        font-size: 1.2em;
    }
}

.checkout_button {
    background-color: $secondary-color;
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-size: 1em;
    font-weight: bold;
    height: auto;
    margin: auto 0 0 0;
    padding: .5em;
    text-decoration: none;
    width: 100%;

    &:hover {
        background-color: $tertiary-color;
        cursor: pointer;
    }
}