@import '../../../styles/global.scss';
$font-size-cart: 1.2em;

.size_input {
  display: none;

  &:checked+.size_label {
    background-color: black;
    border: solid 1px $color-details;
    color: $primary-color-negative;
    font-weight: bold;
  }
}


.size_label {
  background-color: #ffffffad;
  border-radius: .3em;
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  margin: .2em;
  padding-top: .1em;
  text-align: center;
  width: 1.5em;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 1px 1px 2px 1px #00000044;
    cursor: pointer;
  }
}



.product_size {
  display: flex;
  font-size: 1.8em;
  font-weight: 800;
  grid-area: 2 / 1 / 3 / 3;
  justify-self: flex-end;
  margin: 0 .5em 0 0;
  padding: 0;
  text-align: center;
  z-index: 999;
}