@import '../../../styles/global.scss';

.search_field {
    border: solid 1px $color-details;
    box-sizing: border-box;
    font-size: 1.8em;
    padding: 0 1.2em;
    width: 90%;

    &::placeholder {
        @media screen and (max-width: $small) {
            font-size: .8em;
        }
    }

    @media screen and (max-width: $medium) {
        font-size: 1.5em;
    }

    @media screen and (max-width: $small) {
        padding: .2em;
        width: 100%;
    }
}