@import '../../pages/global.scss';

.product {
    display: grid;
    grid-template: auto 4.0em auto 4.0em / 50% 50%;
    grid-template-areas:
      "image image"
      "image image"
      "details details"
      "button button";
    margin: 4.2em 2vw;
    width: 100%;
  
    &:nth-child(4) {
      @media screen and (max-width: $large) {
        display: none;
      }
  
      @media screen and (max-width: $medium) {
        display: grid;
      }
    }
  
    &:nth-child(5) {
      margin-right: 0;
  
      @media screen and (max-width: $medium) {
        margin-right: auto;
      }
    }
  
    &:nth-child(2) {
      margin-left: 0;
  
      @media screen and (max-width: $medium) {
        margin-left: auto;
      }
    }
  
    @media screen and (max-width: $large) {
      margin: 4.2em 2vw;
    }
  
    @media screen and (max-width: $medium) {
      margin: 5em auto 0 auto;
      width: 45%;
    }
  
    @media screen and (max-width: $large) {
      width: 100%;
    }
  }

  .products_especification {
    color: inherit;
    font-size: 1.8em;
    grid-area: details;
    text-decoration: none;
  }