.header_cart {
    background: center no-repeat url(../../../../public/icons/logo-cart-shopping.svg);
    transition: .4s all;
    height: 5em;
    width: 5em;

    &:hover {
        transform: scale(1.1);
    }
}