@import 'styles/global.scss';

.footer {
    background-color: $primary-color;
    box-sizing: border-box;
    color: $primary-color-negative;
    display: grid;
    grid-template-areas:
        "logo logo logo logo"
        "menu social contact newsletter";
    grid-template-columns: 21% 21% 21% 37%;
    grid-template-rows: 30% 70%;
    margin: 7.2em auto auto auto;
    max-width: $extra-extra-large;
    padding: 4.2em 4.2em;

    @media screen and (max-width: $large) {
        gap: 2em;
        grid-template-areas:
            "logo logo"
            "menu social"
            "contact newsletter";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8em 1fr 1fr;
        padding: 1em;
    }

    @media screen and (max-width: $medium) {
        grid-template-areas:
            "logo"
            "menu"
            "contact"
            "newsletter"
            "social";
        grid-template-columns: 1fr;
        grid-template-rows: 8em;
    }
}

.base-footer {
    background-color: $primary-color;
}