@import 'styles/global.scss';

.content_search {
    display: flex;
    height: 5em;
    margin: 1.2em auto;
    max-width: calc($extra-extra-large - 8em);
    padding: 0 4.2em;

    @media (max-width: $medium) {
        max-width: calc($extra-extra-large - 8em);
        padding: 0 2em;
    }

}