@import 'styles/global.scss';

.cart_product {
    column-gap: 2em;
    display: grid;
    grid-template-areas: "image";
    grid-template-columns: 160px 18% 20% 10% 10em 10%;
    grid-template-rows: 200px 20em;
    height: 22em;
    @include border-images;
    
    @media screen and(max-width: $extra-large) {
        column-gap: 1em;
        grid-template-columns: 160px 19% 17% 8% 10em 10%;
    }

    @media screen and(max-width: $medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "image"
            "image"
            "image"
            "image"
            "image";
        height: auto;
        margin: 1em 0;
    }

    @media screen and(max-width: $small) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "image ";
        row-gap: 1em;
    }
}

.description {
    font-size: 1.5em;
    margin: .2em 0;
}

.value {
    font-size: 1.5em;
    margin: .2em 0;
}

.quantity {
    border-radius: .3em;
    border: 1px solid;
    font-size: 1.5em;
    margin: .2em auto;
    text-align: center;
    width: 3em;
    @media screen and(max-width: $medium) {
        margin: .2em 0;
    }
}

.subtotal {
    font-size: 1.5em;
    margin: .2em 0;
}